main {
    text-align: center;
}


.item-portfolio {
    display: inline-block;
    margin: 30px;
    border: 1px solid #292828;
}

.item-portfolio a{
    text-decoration: none;
    color: #292828;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}